<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Local Weather!
  </h1>
  <div>Your city, your forecast, right now!</div>
  <h2>Current Weather</h2>
  <div>
    <app-city-search></app-city-search>
  </div>
  <br />
  <app-current-weather></app-current-weather>
</div> -->

<div style="text-align:center">
  <mat-toolbar color="primary">
    LocalCast Weather
  </mat-toolbar>
   <div>Your city, your forecast, right now!</div>
   <div fxLayoutAlign="center">
    <app-city-search (searchEvent)="doSearch($event)"></app-city-search>
  </div>
   <mat-card>
    <h2>Current Weather</h2>
    <app-current-weather [current]="currentWeather" ></app-current-weather>
    </mat-card>
</div>
